// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;
$h1: 18px;
$h2: 16px;
$h3: 14px;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
