// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
